.button-container {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

// codepen
.btn {
  color: #000;
  cursor: pointer;
  // display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  // text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  transition-duration: .6s;
}

.btn {
  background: darken(#fff, 1.5%);
  font-weight: 100;

  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn:hover {
  background: transparent;
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    // stroke-dasharray: 15, 310;
    // stroke-dashoffset: 190;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
