.footer {
  padding-top: 16px;
  flex-shrink: 0;
}

.icon-container svg {
  padding: 0;
  margin: 0;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  z-index: 999;

  a {
    cursor: pointer;
    color: var(--main-text-color);
    text-decoration: none;
  }
}

.footer p {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
