// navigation
.main-yellow-spot {
  width: 48px;
  height: 48px;
  background-color: var(--main-circle-color);
  border-radius: 50%;
}

.logo-wrapper {
  position: relative;
}

.logo {
  position: absolute;
  top: 12px;
  left: 24px;
  font-weight: 600;
}

.logo a:hover {
  letter-spacing: 2px;
}

.logo a {
  text-decoration: none;
  font-size: 18px;
  color: var(--main-text-color);
  transition: 500ms cubic-bezier(0.68,-0.55,0.27,1.55);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 16px;
}

// hamburger menu
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // position: fixed;
}

.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(0deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 800ms, stroke-dashoffset 800ms;
  stroke:#000;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham5 .top {
  stroke-dasharray: 40 82;
}
.ham5 .bottom {
  stroke-dasharray: 40 82;
}
.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}

// offscreen-nav
.offscreen-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vh;
  height: 100vh;
  background-color: var(--main-circle-color);
  color: #fff;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.nav-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 4;
  padding-right: 128px;
  font-weight: 500;

}

.home-container {
  position: relative;
  z-index: 3;
  background-color: #fff;
  min-height: 100vh;
  transition: 800ms cubic-bezier(0.68,-0.55,0.27,1.55);
  box-shadow: 0px 1px 0px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 48px rgba(17,17,26,0.1);
}

.home-container.open {
  transform: translate(-256px, 0);
}

.nav-item {
  text-decoration: none;
  color: var(--main-text-color);
}

.desktop-nav {
  display: none;
  transition: 0.2s !important;
}

.desktop-nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-text-color);
}


.desktop-nav a:hover {
  border-bottom: 4px solid var(--main-circle-color);

}
