.main-wrapper {
  margin: 0px 16px;
}

.hero-text {
  margin-top: 40px;
  max-width: 75vw;
}

.hero-text h1 {
  font-size: var(--mobile-heading-text);
  line-height: 43.2px;
  background: #1D1D1F;
  background: linear-gradient(90deg, rgba(29, 29, 31, 1) 0%, rgba(124, 124, 133, 1) 51%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-intro p {
  margin-top: 8px;
  font-size: 32px;
  line-height: 38.4px;
}

#imageme {
  min-height: 181px;
  max-height: 322px;
  border-radius: 50%;
  margin-top: 32px;
  text-align: center;
}

.hero-image {
  display: flex;
  justify-content: center;
}

.bio-text {
  line-height: var(--mobile-body-line-height);
  max-width: 700px;
  margin-right: 8px;
}

.bio-text:nth-of-type(1) {
  margin-top: 24px;
}

.bio-text:nth-of-type(2) {
  margin-top: 16px;
}

.home-sub-heading {
  font-size: var(--mobile-sub-heading-text);
  line-height: var(--mobile-sub-heading-line-height);
}

// .home-sub-section {
//   background-color: var(--secondary-color);
// }

.about-title {
  margin-top: 48px;
  margin-bottom: 16px;
  font-weight: 700;
}

.about-description {
  font-size: var(--mobile-body-text);
  line-height: var(--mobile-body-line-height);
}
