
.section-container {
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background-color: #fff;
  position: relative;
}

.heading {
  font-weight: 700;
}

.info-box {
  background-color: #00CECB;
  display: flex;
  height: 164px;
}

.description {
  padding-top: 16px;
}
// .header-background {
//   background-color: #F8F8F8;
//   z-index: 20;
//   height: 51px;
// }

.image-of-me {
display:flex;
flex-direction: column;
justify-content: center;
padding-left: 16px;
padding-right: 16px;
}

#imageme {
  border-radius: 50%;
  width: 78px;
  height: 78px;

 }

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 16px;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
}

.paragraphs {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;

}

.para-1 {
  font-size: 14px;
}

.para-2 {
  font-size: 14px;
}

.projects-title {
  font-size: 16px;
  font-weight: 700;
  padding-left: 16px;
  margin-top: 48px;
}

#snowsquad,
#chalkandsteel {
  // height: 100%;
  width: 80%;
  margin: 0 10%;

  background-color: #fff;
}

#chalkandsteel {
  padding-top: 48px;
}

.project-1-title,
.project-1-des,
.project-2-title,
.project-2-des {
  margin: 0 16px;
  z-index: 200;
  background-color: #fff;
}

.project-1-title,
.project-2-title {
  padding-top: 16px;
}

.project-1-des,
.project-2-des{
  padding-top: 16px;
}

.project-2-des {
  padding-bottom: 48px;
  background-color: #fff;
}
