
#test {
  height: 43px;
  margin-top: -43px;
  display: block;
  visibility: hidden;
}

#section-container {
  height: 100%;
  width: 100%;
  z-index: 15;
  background-color: #fff;
  position: relative;
}

.heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.info-box {
  background-color: #F1F0F0;
  display: flex;
  flex-direction: column-reverse;
  justify-content:space-evenly;
  height: 382px;
  padding-left: 12px;
  padding-right: 12px;
}

.description {
  padding-top: 16px;
  max-width: 450px;
}
// .header-background {
//   background-color: #F8F8F8;
//   z-index: 20;
//   height: 51px;
// }

.image-of-me {
text-align: center;
padding-left: 16px;
padding-right: 16px;

}

#imageme {
  border-radius: 50%;
  width: 50%;


 }

.hero-content {
  // height: 100%;
  padding-right: 16px;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
}

.paragraphs {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;

}

.para-1 {
  font-size: 16px;
}

.para-2 {
  font-size: 16px;
}

.projects-title {
  font-size: 28px;
  font-weight: 700;
  padding-left: 16px;
  margin-top: 48px;
  line-height: 1.2;
}

#snowsquad,
#chalkandsteel,
#flamingo {
  // height: 100%;
  width: 80%;
  margin: 0 10%;
  background-color: #fff;
  margin-top: 32px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.project-2-title,
.project-3-title {
  padding-top: 32px;
}

.project-1-title,
.project-1-des,
.project-2-title,
.project-2-des,
.project-3-title,
.project-3-des {
  margin: 0 16px;
  z-index: 200;
  background-color: #fff;
}

.project-1-title,
.project-2-title,
.project-3-title {
  font-size: 16px;
  font-weight: 700;

}

.project-1-des,
.project-2-des,
.project-3-des {
  padding-top: 32px;
}

.project-3-des {
  padding-bottom: 48px;
}
