.left-pannel {
  height: 100vh;
  width: 50%;
  background-color: #38307F;
}

.right-pannel {
  height: 100vh;
  width: 50%;
  background-color: #F8F8F8;
}

.pannels {
  display: flex;
  height: 100vh;
  position: relative;
}

.hero_title {
  position: fixed;
  top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
