.left-pannel {
  height: 100vh;
  width: 50%;
  background-color: #00CECB;
}

.right-pannel {
  height: 100vh;
  width: 50%;
  background-color: #F8F8F8;
}

.pannels {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.hero_title {
  position: fixed;
  top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 32px;
  font-weight: 500;
  color: #1C1C21;
  line-height: 32px;

  .dev {
    margin-bottom: 55px;
  }
}

#chevron {
  text-decoration: none;
  font-size: 32px;
  position: fixed;
  bottom: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  color: #1C1C21;
  z-index: 10;
}

#arrow-color:hover {
  font-size: 36px
}

#arrow-color {
  color: #1C1C21;
  transition: 0.3s;
}
