.articles {
  padding: 0px;
}

.articles-item {
  padding-bottom: 56px;
}

.md-title {
  padding: 0;
  margin: 0;
}

.blog-format li {
  list-style-type: none;
}

.blog-format {
  margin-top: 48px;
}

.date {
  padding-top: 12px;
  padding-bottom: 12px;
}

.blog-title:hover {
  border-bottom: 0.5px solid rgba(58, 58, 58, 0.90);
}

.articles a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 24px;
  line-height: 48px;
}



.article-container {
  display: flex;
}

.article-title {
  top: 29px;
  left: 40px;
  font-weight: 600;
  transform: translateX(-25px) !important;
}
