
@import "header.scss";
@import "landing_page.scss";
@import "home_content.scss";
@import "footer.scss";
@import "single_page.scss";
@import "list_page.scss";
@import "mediaqueries.scss";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


body {
  margin: 0;
  padding: 0;
  color: #1C1C20;
  font-family: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}



