@import "header.scss";
@import "landing_page.scss";
@import "home_content.scss";
@import "footer.scss";
@import "single_page.scss";
@import "list_page.scss";
@import "work_list.scss";
@import "work_single_page.scss";
@import "mediaqueries.scss";



@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.transition-fade {
  transition: 250ms;
  opacity: 1;
  transform: translateX(0);
  transform-origin: center bottom;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(-100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  // transform: translateY(100%);
}

:root {
  // --main-text-color: #303030;
  --main-text-color: #232323;
  --main-circle-color: #fff75e;
  --background-color: #F5F5F7;
  --secondary-color: #F7F7FF;
  --mobile-body-text: 16px;
  --mobile-heading-text: 36px;
  --mobile-body-line-height: 25.6px;
  --mobile-sub-heading-text: 24px;
  --mobile-sub-heading-line-height: 48px;
  --secondary-circle-color: #EDEEF2;
}

body {
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
  // font-family: 'Rubik', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: inherit;
  transition-property: all;
  transition-timing-function: ease;
}

html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
  // overflow-y: scroll;
  height: 100%;
  width: 100%;
  margin: 0;
}

pre {
  overflow: auto;
  overflow-x: scroll;
  overflow-wrap: normal;
}

a {
  text-decoration: none;
}

h1,
p {
  margin: 0;
  padding: 0;
}
