.page {
  margin: 0 16px 48px 16px;
}

.page-title {
  font-weight: 700;
  font-size: 28px;
  padding-top: 67px;
  padding-bottom: 24px;
  margin: 0;

  color: #1C1C20;
  line-height: 1.2;
}

.img {
  border-radius: 100%
}

.highlight pre {
  padding: 10px;
}
