{{ define "main" }}
<div class="main-wrapper">
  <div class="hero-text">
    <h1>Articles.</h1>
  </div>

  <div class="blog-format">
    <ul class="articles">
      {{ range .Pages }}
      <li class="articles-item">

        <div class="articles">
          <div class="article-container">
            <div class="secondary-grey-spot">
            </div>
            <a class="article-title" href="{{.Permalink}}">{{ .Title }}</a>
          </div>
        </div>

        <div class="date">
          {{ .Date.Format "02-01-2006" }}
        </div>
        <div class="blurb">
          {{ .Params.Excerpt }}
        </div>
      </li>
      {{ end }}
    </ul>
  </div>

</div>
{{ end }}
