{{ define "main" }}
<section class="list-format">
  <div class="blog-format">
  <p class="wizard-sub-title">
    Articles
  </p>
  <ul class="articles">
{{ range .Pages }}
    <li class="articles-item">
      <p class="md-title">
        <a class="blog-title" href="{{.Permalink}}">{{ .Title }}</a>
      </p>
      <div class="date">
        {{ .Date.Format "02-01-2006" }}
      </div>
      <div class="blurb">
        {{ .Params.Excerpt }}
      </div>
    </li>
{{ end }}
  </ul>
</div>

</section>
{{ end }}
