<section class="footer">
  <p class="contact">
    Contact
  </p>
  <div class="footer-container">
    <p>
      ©benmclaren2020
    </p>
    <div class="icons">
      <i class="fa fa-github"></i>
      <i class="fa fa-paper-plane"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-linkedin"></i>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core-shrinkwrap.min.js">
</script>
<script>
  var cl = cloudinary.Cloudinary.new({
    cloud_name: 'dy35n8sog'
  });

  cl.responsive()
</script>

</body>
</html>
