<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ben McLaren</title>
  {{ $cssOpts := (dict "targetPath" "css/main.css" ) }}
  {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  <!-- <link href="https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="blogo1.ico" type="image/x-icon">
  <meta property="og:image" content="https://res.cloudinary.com/dy35n8sog/image/upload/v1578389845/Screenshot_2020-01-07_at_09.36.47_ehi2dt.png">
  <link rel="shortcut icon" href="https://res.cloudinary.com/dy35n8sog/image/upload/v1578391731/blogo1_guumr5.ico" type="image/x-icon">
</head>
<body>
