<div class="offscreen-nav">
  <div class="nav-text">
    <a class="desktop-nav-link nav-item" href="/work">
      {{ partial "svg/computer.svg" . }}
      Work
    </a>
    <a class="desktop-nav-link nav-item" href="/about">
      {{ partial "svg/person.svg" . }}
      About
    </a>
    <a class="desktop-nav-link nav-item" href="/articles">
      {{ partial "svg/edit.svg" . }}
      Articles
    </a>
    <a class="desktop-nav-link nav-item" href="/contact">
      {{ partial "svg/mail.svg" . }}
      Contact
    </a>
  </div>
</div>
