


const run = () => {
  {{ $swup_min := resources.Get "js/swup.min.js" }}
  {{ $swup := resources.Get "js/swup.js" }}
  {{ $cloudinary := resources.Get "js/cloudinary.js" }}
  {{ $app := resources.Get "js/app.js" }}



  {{ $scripts := slice  $cloudinary $swup_min $swup $app| resources.Concat "app.js" }}

  {{ $globalJS := $scripts | resources.Minify | resources.Fingerprint }}

  <script src="{{ $globalJS.Permalink }}" integrity="{{ $globalJS.Data.Integrity }}" media="screen" crossorigin="anonymous">
  </script>

  <script>
  const cl = cloudinary.Cloudinary.new({
    cloud_name: 'dy35n8sog'
  });

  cl.responsive()
</script>
};
