{{ define "main" }}


  <section class="pannels">
    <div class="left-pannel">
    </div>
    <div class="right-pannel">
    </div>
    <a href="#section2" id="chevron">
      <i class="fa fa-chevron-circle-down"></i>
    </a>
  </section>

  <div class="hero_title">
    <div class='dev'>
      DEVELOPER.
    </div>
    <div class="des">
      DESIGNER.
    </div>
  </div>

  <section id="section2">
    <h1 class="heading">
      Hey, I'm Ben
    </h1>
    <div class="info-box">
      <div class="picture-of-me">
      </div>
      <div class="hero-content">
        <p>
          I am a Full-Stack developer from London although my specialism is in UX/UI design and Front-end development.
        </p>
      </div>
    </div>
    <div class="faded-box">
      <div class="para-1">
        <p>
          I write articles on code that I publish here with the aim of supporting other developers.
        </p>
      </div>
      <div class="para-2">
        <p>
          When I am not coding or perfecting a design I enjoy, making music, boxing and skiing.
        </p>
      </div>
    </div>


  </section>

{{ end }}

